*{
  margin: 0;
  padding: 0;
  font-family: 'antonio', sans-serif;
}
.container {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}
.dice {
  text-align: center;
  display: inline-block;
  margin: 0 50px;
}

html, body {
  height: 100%;
  margin: 0;
    background-color: #111F35;
}
body {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #8A244B;
  font-size: 8rem;
  color: #D02752;
}
h1 img{
  border-radius: 50%;
    max-width: 7rem;
}
.draw-btn{
  display: inline-block;
  width: 15rem;
  background-color: #D02752;
  border: none;
  border-radius: 50px;
  height: 4rem;
  font-size: 2rem;
  margin: 40px 0;
  color: #111F35;
  transition: transform 0.15s ease, box-shadow 0.25s ease, border-color 0.25s ease;
  font-family: sans-serif;
}
.draw-btn:hover{
    box-shadow: 0 0px 15px #8A244B;
}

p {
  font-size: 2rem;
  color: #D02752;
  margin: 20px;

}

img {
  width: 80%;
}

footer {
  align-content: flex-end;
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}
footer a{
  text-decoration: none;
    color: white;
}
h1 span{
  text-shadow: none;
}
@media (max-width: 700px) {
  h1{
    font-size: 4rem;
  }
  h1 img{
  max-width: 4rem;
  }
}
